
/* Your CSS Code here. */
.holder {
	width: 100%;
	display:flex;
	justify-content:space-evenly;
	flex-wrap:wrap;
	
	
}
#fbox1 {
	height:100px;
	width:100px;
	background-color:green;
	
}
#fbox2 {
	height:100px;
	width:100px;
	background-color:red;
	
}
#fbox3 {
	height:100px;
	width:100px;
	background-color:blue;
	
}